<%= form_with(model: @project) do |form| %>
  <% if @project.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", rows: 4 %>
  </div>

  <div class="mb-3">
    <%= form.label :user_id, class: "form-label" %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= current_user.name %>
  </div>

  <div>
    <%= form.submit "Save Project", class: "btn btn-primary" %>
  </div>
<% end %>
