<p class="notice"><%= notice %></p>

<div class="project-details">
  <%= render @project %>
</div>

<div class="actions">
  <%= link_to "Edit this project", edit_project_path(@project), class: "btn btn-primary" %> |
  <%= link_to "Back to projects", projects_path, class: "btn btn-secondary" %>

  <%= button_to "Destroy this project", @project, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>
