<h1><%= @project.title %></h1>
<p><%= @project.description %></p>
<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-secondary' %>
<%= link_to 'Back to Projects', projects_path, class: 'btn btn-primary' %>

<h2>Invite Collaborators</h2>
<%= form_with url: invite_project_path(@project), method: :post do |form| %>
  <div class="form-group">
    <%= form.label :email, 'Collaborator Email' %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>
  <%= form.submit 'Invite', class: 'btn btn-primary' %>
<% end %>

<h2>Comments</h2>
<%= render 'comments/form', commentable: @project %>
<ul>
  <% @project.comments.each do |comment| %>
    <li><%= comment.user.name %>: <%= comment.content %></li>
  <% end %>
</ul>
