<head>
  <%= stylesheet_link_tag 'projects', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'headline', media: 'all' %>
</head>

<div class="header-container">
  <h1 class="project-heading"><%= @project.title %></h1>
  <div class="header-links">
    <%= link_to "Projects", projects_path %>
    <%= link_to "Tasks", todos_path %>
    <%= link_to "Account", user_path(current_user) %>
    <%= link_to 'Logout', logout_path, data: { confirm: 'Are you sure you want to logout?' } %>
  </div>
</div>  

<div class="project-info-container">
  <%= form_with(model: @project, url: project_path(@project), method: :patch) do |form| %>
    <div class="field">
      <%= form.label :title, class: "label-large" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :description, class: "label-large" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <% if current_user.todos.present? %>
        <div class="field">
          <%= form.label :todo_ids, "Select Todos", class: "label-large" %>
          <% current_user.todos.each do |todo| %>
            <label for="todo_<%= todo.id %>" class="checkbox-container">
              <%= check_box_tag "project[todo_ids][]", todo.id, @project.todos.include?(todo), id: "todo_#{todo.id}" %>
              <span class="checkbox-title"> <%= todo.title %> </span>
            </label>
          <% end %>
          </div>
      <% end %>
    


    <div class="buttons-container">
      <%= form.submit "Update Project", class: "button" %>  
      <%= link_to "Cancel", project_path(@project), class: "button" %>
    </div>
  <% end %>
</div>

