<div class="edit-project">
  <h1 class="edit-project">Edit Project</h1>
  <%= form_with(model: @project, local: true) do |form| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
        <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div>
      <%= form.submit 'Update Project' %>
    </div>
  <% end %>

  <%= link_to 'Back to Projects', projects_path, class: 'back-link' %>
</div>